.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px rgb(0, 0, 0, .07);
  padding: 10px 0;
  width: 230px;
  background: rgba(255, 255, 255);
  transition: all 0.5s;
  border-radius: 10px;
  
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: #252525;
  }
  
  @media (max-width: 680px) {
    width: 100%;
    padding: 10px 20px;
  }

  .productImage {
    width: 70%;
    
    @media (max-width: 680px) {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .productInfo {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
    height: 48px;

    @media (max-width: 680px) {
      width: 100%;
    }

    .productName {
      font-size: 16px;
    }

    .productPrice {
      font-size: 22px;
      font-weight: bold
    }

    .addToCart {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      background: #2ed573;
      border: none;
      outline: none;
      right: 0;
      width: 30px;
      height: 60%;

      svg {
        color: #fff;
        font-size: 20px;
      }

      &:hover {
        background: #3fd97f;
        cursor: pointer;
      }

      &:active {
        background: #2ad571;
      }
    }

    .removeFromCart {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      background: #d52e2e;
      border: none;
      outline: none;
      right: 0;
      width: 30px;
      height: 60%;

      svg {
        color: #fff;
        font-size: 20px;
      }

      &:hover {
        background: #d93f3f;
        cursor: pointer;
      }

      &:active {
        background: #d52a2a;
      }
    }
  }

  // &:hover {
  //   transform: scale(1.05);
  //   cursor: pointer;
  //   box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  // }

  // &:active {
  //   transform: scale(0.9);
  //   transition: all 0.1s;
  // }
}